<div class="container">
    <div class="menu">
        <div class="button sidebar" ng-click="showEditor = !showEditor">
            T
        </div>
    </div>
    <div class="content">
        <div class="module">
            <editor ng-class="editorClass" ng-if="showEditor">
            </editor>
            <div class="tweets" ng-repeat="tweet in userStream track by $index" >
                <div class="tweet">
                    <div class="content">
                        <div class="profile" ng-click="showProfile(tweet.user)">
                            <div class="image">
                                <img ng-src="{{tweet.user.profile_image_url}}"/>
                            </div>
                        </div>
                        <div class="text">
                            <div class="names">
                                <div class="username">
                                    @{{tweet.user.screen_name}}
                                </div>
                                <div class="name">
                                    {{tweet.user.name}}
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                     <div class="tweet-text">
                                {{tweet.text}}
                            </div>
                    <div class="media" ng-show="tweet.extended_entities.media">
                        <timage data={{tweet.extended_entities.media}}></timage>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<usermodal data={{userModalData}}></usermodal>