@import 'base';

html, body {
  width: 100%;
  height: 100%;
  background: #bdc3c7;
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  .menu {
    width: 60px;
    background: #2c3e50;
  }
  .content {
    flex-grow: 1;
    width: 100%;
    display: flex;
  }
}



::-webkit-scrollbar {
    -webkit-appearance: none;
    background: transparent!important;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}