html, body {
  width: 100%;
  height: 100%;
  background: #bdc3c7; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

img {
  width: 100%;
  height: auto; }

.container {
  display: flex;
  width: 100%;
  height: 100%; }
  .container .menu {
    width: 60px;
    background: #2c3e50; }
  .container .content {
    flex-grow: 1;
    width: 100%;
    display: flex; }

.button {
  background: #3498db;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }

.button:hover {
  background: #2980b9; }

.button.sidebar {
  height: 50px; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent !important;
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
